@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #f82b30;
  color: white;
}

html,
body {
  @apply bg-white;
}

html.dark,
body.dark {
  @apply bg-gray-800;
}

input,
textarea,
select {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d9dce1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2d3748;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d9dce1;
}
