@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #f82b30;
  color: white;
}

html,
body {
  @apply bg-white;
}

html.dark,
body.dark {
  @apply bg-gray-800;
}

input,
textarea,
select {
  font-size: 16px;
}
