<html>
  <head>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.0.min.js"
    ></script>
    <script type="text/javascript" src="../js/test.js"></script>
    <link href="../css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="header">
      <div id="nav">
        <div class="nav-item">Accueil</div>
        <div class="nav-item" id="profil">Profil</div>
        <div class="nav-item" id="login" onclick="modalLogin()">Connexion</div>
        <div class="nav-item" id="logout">Déconnexion</div>
      </div>
    </div>
    <div id="modal-connect" class="modal">
      <div id="modal-content">
        <div id="modal-close" onclick="modalClose()">X</div>
        <div id="log">
          <h1>Connexion</h1>
          <div class="form-item">
            <label>Login</label>
            <input id="inputLogin" type="text" />
          </div>
          <div class="form-item">
            <label>Password</label>
            <input id="inputPassword" type="password" />
          </div>
          <div class="form-item">
            <button onclick="login()">Connexion</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
